.post-container{
    height: 700px;
    padding: 10px;
    overflow: auto;
}

.form-element{
    padding: 5px 0px 5px 2px;
    width: 100%
  }

  .form-container{
    padding: 20px;
  }

  .button-close{
    display: flex;
    justify-content: end;
  }

  @media screen and(min-width:600px){
    .button-close{
      display: none
    }
  }