<app-user-banner style="position: sticky; top: 0;" [user]="currentUser"></app-user-banner>

<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Posts">
         <div class="post-container">
           <app-post 
           (delete)="handdleDelete($event,i)"
           style="margin-bottom: 10px;" 
           [post]='post' 
           *ngFor="let post of currentPosts; let i =index"
           ></app-post>
         </div>

    </mat-tab>
    <mat-tab label="Edit profile">Edit profile</mat-tab>
  </mat-tab-group>